*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(246, 103, 103);
}

.container{
    background-color: rgb(255, 255, 255);
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    letter-spacing: 1px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.note{
    display: flex;
    text-align: center;
}


input[type=checkbox]{

    height: 40px;
    line-height: 40px;
    position: relative;
    left: 10px;
    background-color: aqua;
}

label{
    height: 40px;
    width: 250px;
    line-height: 40px;
    vertical-align: middle;
    text-align: left;

    margin-left: 20px;
    padding-left: 20px;

    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
}

.last-label{
    border-bottom: none;
}

.strike {
    text-decoration: line-through;
}